/* overide */
html {
    scroll-behavior: smooth;
}

input[type=text]:focus {
    border: none !important;
  }

.jss203 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.MuiDrawer-paperAnchorDockedLeft{
    border-right: 0px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

/* layout */

.flex-row-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.flex-row-space {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-row-center {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.flex-row-left{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.editor {
    position: absolute;
    margin-top: 200px;
    background-color: rgb(66, 66, 66);
    border-radius: 7px;
    padding: 20px;
    z-index: 2;
}

.layout-container{
    background-color: #FFFFFF;
    position: relative;
}

.layout-page{
    background-color: #FFFFFF;
    position: relative;
    /* min-height: 100vh; */
}

.layout-menu-header {
    margin: 0 10px
}

.layout-menu-header:hover {
    margin: 0 10px;
    cursor: pointer;    
}

.layout-banner{
    position: absolute;
    top: 40%;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    width: 70%;
    padding: 10px;    
}

.layout-mission {
    width: 100%;
    position: absolute;
    top: -100px;
}

.layout-header {
    background-color: #fafafa;
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.layout-sub-header {
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.layout-header-content {
    margin: 0 auto;
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.layout-menu {
    display: flex;
    flex: 1;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

.paper-home-active {
    border-radius: 15px !important;
    background-color: #FFFFFF;
    margin: auto;
    cursor: pointer;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px 1px #4CAF50 !important;
}

.paper-home{
    border-radius: 15px !important;
    background-color: #FFFFFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 5px 0 #000 !important;
}

.paper-home:hover{    
    cursor: pointer;    
    border: 2px solid #EE4323;
    box-shadow: 0 0 5px 1px #EE4323 !important;
    border-radius: 15px !important;
    background-color: #FFFFFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hr-slider{
    height: 2px;
    width: 98%;
    background-color: #FFFFFF;
}

.full-vh {
    height: 100vh;
    width: 100%;
}

/* image  */

.img-feature {
    width: 200px;
    height: 400px;
    object-fit: fill;
}

.img-icon {
    color: #472D74;
    font-size: 30px !important;
}

.state-icon {
    color: #FFFFFF;
    font-size: 50px !important;
    width: 100% !important;
    margin: auto;
}

.img-logo {
    height: 50px;
    padding: 5px;
    margin: 0px;
}

.img-menu-logo {
    align-self: center;
    color: #fafafa;
    font-size: 25px;
}

.img-paralax-dashboard{
    width: 100%;
    z-index: -1;
    position: fixed;
    height: 100vh;
    object-fit: cover;
    object-position: center;    
}

.img-banner-iphone{    
    width: 250px;
    height: 500px;
    object-fit: fill;
    margin: 10vh;
    position: absolute;    
}

/* text */
.title-header{
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 18px;
}

.text-title{
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-content{
    padding: 0;
    margin: 0;
    line-height: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-title-banner{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-subtitle-banner{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-link {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

/* image */
.logo-header-layout {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #472D74 0px 0px 10px 0.5px;
}

/* button */

.button-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(71, 45, 116);
    padding: 20px;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 50px;
}

.button-left:hover {
    background-color: rgb(238, 67, 35);
}

.button-right:hover {
    background-color: rgb(238, 67, 35);
}

.button-left-active {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(238, 67, 35);
    padding: 20px;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 50px;
}

.button-right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(71, 45, 116);
    padding: 20px;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 50px;
}

.button-right-active {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(238, 67, 35);
    padding: 20px;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 50px;
}

.button-sub-header {
    background-color: #472D74;
    padding: 10px;
    border: 1px solid #FFFFFF;
    margin: 0 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-sub-header-active {
    background-color: #EE4323;
    padding: 10px;
    margin: 0 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-sub-header:hover {
    border: none;
    background-color: #EE4323;
}

.button-type {
    background-color: #1269DB;
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-type-active {
    background-color: #EE4323;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-type:hover {
    padding: 12px;
    background-color: #EE4323;
}

.button-small-page {
    flex: 0;
    height: 20px !important;
    width: 20px !important;
    border-radius: 100%;
    cursor:pointer;
    background-color: #fafafa;
    transition: all 0.5s ease;
}

.button-small-page:hover {
    background-color: #EE4323;
}

.button-add-slider {
    height: 200;
    width: 200;
    background-color: #1269DB;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-add-slider:hover {
    background-color: #EE4323;
}

.button-side {
    background-color: transparent;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;    
}

.button-side:hover {
    background-color: rgba(255, 255, 255, 0.23);
}

.button-download {
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    margin: 20px;
}

.button-download:hover {
    cursor: pointer;
    padding: 10px;
    background-color: #EE4323;
    border-radius: 100px;
    border: 0;
    margin: 0 20px;
}

.button-icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    background-color: #472D74;
    margin: 0 20px;
}

.button-icon:hover {
    cursor: pointer;
    padding: 12px;
    background-color: #EE4323;
    border-radius: 100px;
    margin: 0 20px;
}

/* input  */

.input-general {
    outline-width: 0;
    border-color: transparent;
    background-color: transparent;
    padding: 2px;
    width: 100%;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}